body {
        font-family: 'Montserrat', sans-serif;
    }
h2 {
        font-family:"Monsterrat-Bold", sans-serif;
        font-size: 3rem;
        line-height: 1.5;
}



#title{
    background-color:#ff4c68;
    color:#fff;
    height: 20%;
}

#features {
    background-color: #fff;
    text-align: center;
    width:100%;
    padding: 5%;
    position:relative;
    z-index: 1;

}

.container{
    padding:5% 10%;
    font-family:"Montserrat",sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:900;
    }

.navbar {
    padding: 0 0 4.5rem;
    color: #fff;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size:2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    color: white;
}

.nav-link {
    font-size: 1.2rem;
}
.ms-auto {
    color: #fff;
}

/* Download button */
.download-button {
    margin: 5% 3% 5% 0
}
.title-image {
    width:20%;
    transform: rotate(25deg);
    position:absolute;



}
.circle-check {
    width: 80%;
    font-size: 100px;
    color: #FF4A4A;
}
.circle-check-font {

    font-size: 2rem;
    text-align:center;
    color: black;
}

.btn-icons:hover, .btn-icons:focus, .btn-icons:active {
    color: #C21010;
}

/*.icons-row {*/
/*    padding: 5% 12%;*/
/*}*/

#testimonials {
    text-align: center;
    background-color: #FF4A4A;
    color: #fff;

}


.testimony-head {
    font-family:"Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

#press {
    text-align: center;
    background-color: #FF4A4A;
    padding: 20px;
}

.carousel-item {
    padding: 7% 12%;
}

.prices {
    margin:0 30%;
    padding: 20%;

}

.price-intro {
    text-align: center;
    font-family: "Ubuntu", sans-serif;


}

price-list {
    text-align: center;
    width: 50px;

}
/*.icon-row {*/
/*    width:100%;*/
/*padding:5% 10%;*/
/*margin: 0 15%;*/


/*.col-lg-8 {*/
/*    padding:0 10%;*/
/*}*/